*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(255, 49, 49, 1) 0%,
    rgba(255, 145, 77, 1) 100%
  );
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
